In [1]:
import pandas as pd

## Histone modification training

In [10]:
cistrome_histone_data = '/lus/grand/projects/TFXcan/imlab/data/cistrome/raw/human_hm_full_QC.txt'
hm_dt = pd.read_table(cistrome_histone_data, sep='\t')
hm_dt.shape, hm_dt.head()

((11079, 13),
    DCid       Species      GSMID    Factor Cell_line            Cell_type
 0   268  Homo sapiens  GSM648494   H3K4me1    aTconv         T Lymphocyte  \
 1   269  Homo sapiens  GSM648495   H3K4me3    aTconv         T Lymphocyte
 2   272  Homo sapiens  GSM575295  H3K27me3      BG01  Embryonic Stem Cell
 3   273  Homo sapiens  GSM575280   H3K4me3      BG01  Embryonic Stem Cell
 4   274  Homo sapiens  GSM575296  H3K27me3      BG03  Embryonic Stem Cell

   Tissue_type  FastQC  UniquelyMappedRatio    PBC  PeaksFoldChangeAbove10
 0       Blood    29.0               0.1307  0.971                  1907.0  \
 1       Blood    28.0               0.1340  0.932                  7935.0
 2      Embryo    37.0               0.1048  0.629                  1173.0
 3      Embryo    37.0               0.3263  0.925                  8562.0
 4      Embryo    30.0               0.3280  0.594                    15.0

        FRiP  PeaksUnionDHSRatio
 0  0.229959              0.6944
 1  0.669119              0.9740
 2  0.175297              0.3536
 3  0.420731              0.9750
 4  0.008848              0.9000  )

In [9]:
dict(hm_dt.Factor.value_counts())

{'H3K27ac': 2539,
 'H3K4me3': 2313,
 'H3K27me3': 1440,
 'H3K4me1': 1210,
 'H3K36me3': 608,
 'H3K9me3': 590,
 'H3K4me2': 504,
 'H3K9ac': 308,
 'H3': 244,
 'H3K79me2': 141,
 'H3K9me2': 115,
 'H4K20me1': 69,
 'H2A': 54,
 'H2Bub': 49,
 'H3K18ac': 48,
 'H2AX': 44,
 'H3ac': 39,
 'H4K8ac': 37,
 'H3K36me2': 36,
 'H3K23ac': 33,
 'H3K14ac': 30,
 'H4K20me3': 28,
 'H3K4ac': 26,
 'H2Bub1': 25,
 'H3K9ac, H3K14ac': 25,
 'H4ac': 23,
 'H3.3': 22,
 'H2BK5ac': 22,
 'H3K79me1': 21,
 'H3K79me3': 20,
 'H4K16ac': 19,
 'H4K5ac': 18,
 'H2BK120ac': 17,
 'H4': 17,
 'H2BK15ac': 17,
 'H3F3A': 17,
 'H4K12ac': 16,
 'H3K56ac': 16,
 'H3K9me1': 15,
 'H2AZac': 15,
 'H2AK5ac': 14,
 'H2BK120ub': 14,
 'CENPA': 14,
 'H2AFY': 13,
 'H4K91ac': 13,
 'H3K27me1': 13,
 'H2BK12ac': 12,
 'H2AFZ': 12,
 'H2AK119': 11,
 'H3K9K14ac': 11,
 'H2B': 9,
 'H3R26Cit': 8,
 'H3K18cr': 8,
 'H2AK9ac': 8,
 'H2AK119ub': 7,
 'H2A1': 7,
 'H3K36ac': 7,
 'H2BK20ac': 6,
 'H1.2': 6,
 'H3K27me2': 5,
 'H3K4me3B': 4,
 'H3K27me3B': 4,
 'H3K122ac': 4,
 'H4R3me2': 4,
 'H3K23me2': 4,
 'H3K36me1': 4,
 'H1.0': 3,
 'H1.4': 3,
 'H3K36me3B': 3,
 'H3.1': 3,
 'H2AFY2': 2,
 'H3T': 2,
 'H4K5ac, H4K8ac, H4K12ac, H4K16ac': 2,
 'H2AZK4ac, H2AZK7ac, H2AZK11ac': 1,
 'H3.3,H2A.Z': 1,
 'H3/4ac': 1,
 'H3R17me2': 1,
 'Histone Lysine Acetylation': 1,
 'Histone Lysine Crotonylation': 1,
 'H2A.Bbd': 1,
 'H1.4K34ac': 1,
 'H1X': 1}

In [18]:
a = pd.read_table('/lus/grand/projects/TFXcan/imlab/data/cistrome/raw/human_hm/36870_b_sort_peaks.broadPeak.bed', sep='\t', header=None, names=['chr', 'start', 'end', 'name', 'score', 'strand', 'signalValue', 'pValue', 'qValue'])
a.head()

,chr,start,end,name,score,strand,signalValue,pValue,qValue
0,chr3,93470179,93470971,peak639,1342,.,11.74719,140.85139,134.26636
1,chr16,46394412,46395108,peak338,479,.,3.62328,53.75183,47.91559
2,chr16,46387825,46390937,peak337,407,.,3.13999,46.16373,40.77286
3,chrY,56763259,56763782,peak1033,402,.,13.12572,46.12190,40.27394
4,chr21,8219697,8220268,peak587,356,.,12.13065,41.25257,35.61990

In [21]:
a.assign(peakWidth = lambda x: (x['end'] - x['start'])).peakWidth.describe()

count    1033.000000
mean      655.642788
std       420.756567
min       273.000000
25%       345.000000
50%       533.000000
75%       854.000000
max      4810.000000
Name: peakWidth, dtype: float64

In [19]:
b = pd.read_table('/lus/grand/projects/TFXcan/imlab/data/cistrome/raw/human_hm/36871_sort_peaks.narrowPeak.bed', sep='\t', header=None, names=['chr', 'start', 'end', 'name', 'score', 'strand', 'signalValue', 'pValue', 'qValue', 'peak'])
b.head()

,chr,start,end,name,score,strand,signalValue,pValue,qValue,peak
0,chr21,8234362,8234647,peak10233,1072,.,31.42935,116.70938,107.21851,144
1,chr21,8219864,8220311,peak10231,491,.,22.58129,56.64073,49.13213,142
2,chrKI270752.1,20523,20789,peak16544,488,.,23.78024,56.33091,48.83568,137
3,chr19,8390396,8390665,peak7764,457,.,15.62413,52.86378,45.73084,128
4,chrKI270733.1,165067,165332,peak16540,436,.,17.72395,50.65851,43.60539,129