In [21]:
import pandas as pd, re

In [111]:
GATA3_motifs = pd.read_table('/projects/covid-ct/imlab/users/temi/projects/TFXcan/processed-data/Gata3_motif_regions_TEMP.txt', 
                             sep=' ', names=['chr', 'start', 'end', 'id', 'score', 'strand', 'motif_name', 'pos'])
GATA3_motifs

     chr      start        end         id     score strand motif_name    pos
0   chr1  184101981  184495197          0  0.000000      +         TP      1
1   chr1  192914702  193307918          0  0.000000      +         TP      2
2   chr1  178799370  179192586          0  0.000000      +         TP      3
3   chr1  232352964  232746180          0  0.000000      +         TP      4
4   chr1  155733480  156126696          0  0.000000      +         TP      5
5   chr4   37356111   37749327  Gata3_Th2  1.651504      +         TN   9464
6  chr11   34347534   34740750  Gata3_Th2  1.531297      +         TN   3334
7   chr8   51511205   51904421  Gata3_Th2  1.468780      +         TN   7964
8   chr3   39723183   40116399  Gata3_Th2  1.723233      +         TN   5414
9  chr15   48501833   48895049  Gata3_Th2  1.613976      +         TN  10267

In [112]:
def create_bcftools_input(motif_regions=GATA3_motifs, sample_name=None, output_dir='/projects/covid-ct/imlab/users/temi/projects/TFXcan/code_arguments'):
    '''
    Creates the input for creating the per individual-chromosome vcf files
    
    Return:
        Nothing. File is written in the directory. 
    '''
    if isinstance(None, type(sample_name)):
        sample_name = 'Not_supplied'
        
    a = pd.Series([re.sub(pattern='^[chr]*', repl='', string=G) for G in motif_regions.chr.values])
    b = motif_regions.start.astype(str)
    c = motif_regions.end.astype(str)
    
    d = a + ':' + b + '-' + c
    
    with open(f'{output_dir}/{sample_name}_bed.txt', 'w') as txt:
        txt.write(sample_name + ' ' + ' '.join(d.to_list()))
        
    print('Done writing.')

In [113]:
create_bcftools_input(sample_name='HG00096')

Done writing.